/*Imports de fonts*/
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

/* Paleta de cores utilizada */
/*
Magenta - #D70270
Magenta [Pastel] - #F08080
Lavanda - #734F96
Lavanda [Pastel] - #C8A2C8
Azul -  #0038A8
Azul [Pastel]  - #3DB0F7
*/
* {
	margin: 0px;
	padding: 0px;
}


body {
	font-family: 'Josefin Sans', sans-serif;
	background-color: #FAD2D2;
	color: #000000;
	width: 100%;
}

header {
	/*background-color: #3DB0F7;*/
	background-color: black;
	font-family: 'Do Hyeon', sans-serif;
}

header ul li a {
	color: #F08080;
}

header a:hover {
	background-color: #F08080;
	/*background-color: #F08080;*/
	color: #000000;
}

footer {
	background-color: #F08080;
    position: relative;
	bottom:0;
	width:100%;
	margin: auto auto;
	padding: 10px 5px;
	clear:both;
}

footer .row {
	padding-top: 1%;
}

footer .row a img {
	margin-left: 1%;
	padding-left: 20px;
}

.section-title {
	background-color: #000000;
	color: #F08080;
	padding-top: 2%;
	padding-left: 3%;
}

.section-text {
	text-align: justify;
	padding: 4%;
}

.img-text {
	text-align: center;
}

.img-text img {
	width: 24%;
	padding: 1.5%;
}

.img-text p {
	text-align: justify;
	font-size: 1.2em;
	margin-bottom: 0;
	text-indent: 1.5em;
	margin-top: 1%;
}

.img-text p a {
	color: black;
}

#profile-pic {
	border-radius: 50%;
	padding: 2% 0% 1%;
	width: 55%;
}

#principal-text {
	font-weight: 700;
	font-size: 1.5em;
}

#info-box {
	font-size: 1.1em;
	border-style: solid;
	border-width: 0.1em;
	border-color: #F08080;
	margin: 1%;
	padding: 0 5%;
}

#info-box ul {
	list-style: square inside;
}

#info-box:hover {
	background-color: #F08080;
	border-color: #000000;
	color: #000000;
}

#text-pic {
	width: 50%;
}

#network a {
	margin: 0% 2%;
}

#references {
	font-family: 'Do Hyeon', sans-serif;
	text-align: center;
	color: #000000;
}

#references a {
	text-decoration: none;
	color: #000000;
}


/* Exceções de responsividade */
@media (min-width: 768px){
	#profile-pic {
		width: 20%;
	}
	.img-text img {
		float: left;
	}
}

@media (max-width: 768px){
	#info-box {
		font-size: 0.7em;
		margin: 1% 6% 6%;
	}
	.img-text img {
		width: 70%;
	}
	#network a {
		margin: 1% 6%;
	}
}

/*Snippets*/

/* Grow from https://github.com/IanLunn/Hover*/
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}
