/*Imports de fonts*/
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

/* Paleta de cores utilizada */
/*
Magenta - #D70270
Magenta [Pastel] - #F08080
Lavanda - #734F96
Lavanda [Pastel] - #C8A2C8
Azul -  #0038A8
Azul [Pastel]  - #3DB0F7
*/

body {
	background-image: radial-gradient( #3DB0F7, #0038A8);
	color: black;
}

body .description-text {
	list-style: georgian;
}

header {
	/*background-color: #3DB0F7;*/
	background-color: #734F96;
	font-family: 'Do Hyeon', sans-serif;
}

header ul li a {
	color: #F08080;
}

header a:hover {
	background-color: #F08080;
	/*background-color: #F08080;*/
	color: #0038A8;
}

footer {
	background-color: #D70270;
    position: absolute;
	bottom:0;
	width:100%;
	margin: auto auto;
	padding: 10px 5px;
	clear:both;
}

footer .row {
	padding-top: 1%;
}

footer .row a img {
	margin-left: 1%;
}

#references {
	font-family: 'Do Hyeon', sans-serif;
	color: white;
}

#references a:hover {
	color: #0038A8;
	text-decoration: none;
}


#profile-pic {
	border-radius: 50%;
	padding: 2% 0% 1%;
}

#principal-text {
	font-family: 'DM Mono', sans-serif;
	font-size: 1.5em;
}

#description-text {
	font-family: 'DM Mono', sans-serif;
	font-size: 1.1em;
}

#info-box {
	background-color: #C8A2C8;
	margin: 4%;
}

#info-box:hover {
	background-color: #734F96;
	color: #F08080;
}

#network a {
	margin: 0% 2%;
}


/* Exceções de responsividade */
@media (min-width: 768px){
	#profile-pic {
		width: 30%;
	}
}

/*Snippets*/

/* Grow from https://github.com/IanLunn/Hover*/
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}